.FooterMenuContainer {
  display: flex;
  flex-direction: column;
  text-align: left;
  padding-left: 10px;
  //margin-left: 98px;

  @media screen and (max-width: 660px) {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding-left: 0;
  }

  .FooterMenuTitle {
    color: #656566;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
  }

  .FooterMenuBodyContainer {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
}