.ItemRightContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  margin-top: 40px;
  @media screen and (max-width: 660px) {
    display: flex;
    flex-direction: column;
    text-align: left;
    margin-top: 40px;
  }

  .ItemRightTitleContainer {
    font-weight: 500;
    font-size: 18px;
  }

  .ItemRightBodyContainer {
    font-weight: 400;
    font-size: 16px;
  }
}