@import "src/Common/Assects/Style/SCSS/Mixins";

.AboutCompanyContainer {
  display: flex;
  flex-direction: column;

  .AboutCompanyTitle {

    text-align: left;

    @include textTitle("Inter", normal, 700, 14px, 17px);
  }

  .AboutCompanyBodyContainer {
    margin-top: 10px;

    .AboutCompanyBody {
      @include text("Inter", normal, 400, 16px, 19px);
      text-align: left;

    }
  }

}