.AboutCompanyContainer {
  display: flex;
  flex-direction: column;

  .AboutCompanyTitle {
    color: #656566;
    font-weight: 700;
    font-size: 14px;
    text-align: left;
  }

  .AboutCompanyBodyContainer {
    margin-top: 10px;

    .AboutCompanyBody {
      font-weight: 400;
      font-size: 16px;
      text-align: left;
    }
  }

}