.FooterContactsContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #E4E5EA;

  .FooterContactsTitle {
    color: #656566;
    font-weight: 700;
    font-size: 14px;
  }

  .FooterContactsNumber {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;
  }

  .FooterContactsBody {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .FooterContactsAddress {
    margin-top: 22px;
  }
}