@import "src/Common/Assects/Style/SCSS/Mixins";

.FooterContactsContainer {
  display: flex;
  flex-direction: column;
  text-align: right;
  color: #E4E5EA;


  @media screen and (max-width: 520px) {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    color: #E4E5EA;
    padding-right: 120px;
    margin-top: 10px;
  }


  .FooterContactsTitle {

    @include textTitle("Inter", normal, 700, 14px, 17px);
  }

  .FooterContactsNumber {
    font-weight: 500;
    font-size: 16px;
    margin-top: 20px;

    @include text("Inter", normal, 500, 16px, 19px)
  }

  .FooterContactsBody {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }

  .FooterContactsAddress {
    margin-top: 22px;

    @include text("Inter", normal, 500, 16px, 19px)
  }
}