@import "src/Common/Assects/Style/SCSS/Mixins";
@import "src/Common/Assects/Style/SCSS/Variables";

.LeftColumnContainer {
  display: flex;
  flex-direction: column;
  color: $textColor;
  width: 362px;
  height: min-content;

  @media screen and (max-width: 1024px) {
    display: flex;
    flex-direction: column;
    color: $textColor;
    width: min-content;
  }

  .TitleUp {
    @include text("Inter", normal, 400, 48px, 58px);
    text-align: left;
    @media screen and (max-width: 520px) {
      @include text("Inter", normal, 400, 36px, 44px);
    }


    .WelbexTitle {
      background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      font-weight: 900;
      @media screen and (max-width: 520px) {
        font-weight: 900;
        font-size: 36px;
      }

    }
  }

  .TitleDown {
    text-align: left;
    width: 275px;
    height: 44px;
    font-weight: 400;
    font-size: 18px;
    color: #E4E5EA;
    @include text('Montserrat', normal, 400, 18px, 22px);
  }
}